.AddComment {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0 0;
  position: relative;
  background-color: #ddd;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
}

.AddComment textarea {
  width: 100%;
  resize: vertical;
  margin-bottom: 5px !important;
  border-color: #d3d3d3;
  padding: 5px;
  outline: none;
}

.AddComment button {
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.15);
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 5px 12px;
  margin-top: 5px;
  display: block;
}

.AddComment button:active {
  transform: translate(1px, -1px);
}