.FormElement-input {
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
}

.FormElement-errorMessage {
  color: red;
  margin-left: 10px;
}

.FormElement-inputError {
  border-color: red;
}