.Comments {
  border: 1px solid #ccc;
  padding: 0 10px;
  background-color: #ffe;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
}

.Comment {
  margin: 10px 0;
  padding: 0 5px;
  position: relative;
}

.Comment::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.Comment:last-child::after {
  display: none;
}

.Comment-header {
  font-size: 11px;
  color: #555;
  margin-bottom: 3px;
}

.Comment-headerDate {
  font-size: 9px;
  color: #777;
}

.Comment-header span {
  margin-right: 5px;
}

.Comment p {
  white-space: pre-wrap;
  margin: 0;
}