.PostDetails {
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
}

.PostDetails-header {
  margin: 0 -10px;
  padding: 3px 10px;
  border-bottom: 1px solid #d5d5d5;
  font-size: 14px;
}

.PostDetails-header > span {
  margin-right: 5px;
}

.PostDetails-headerDate {
  font-size: 12px;
  color: #333;
}

.PostDetails h2 {
  font-size: 22px;
  margin: 10px 0;
}

.PostDetails p {
  margin: 5px 0 10px;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 22px;
}

.PostDetails-image {
  margin: 0 10px 10px 0;
  max-width: 25%;
  min-width: 160px;
  float: left;
}

.PostDetails-footer {
  margin: 0 -10px;
  padding: 3px 10px;
  border-top: 1px solid #d5d5d5;
  font-size: 12px;
  color: #333;
  clear: both;
}