.AddPost label {
  display: inline-block;
  width: 120px;
}

.AddPost input, .AddPost textarea {
  width: calc(100% - 120px);
}

.AddPost label, .AddPost input, .AddPost textarea {
  margin-bottom: 15px;
  vertical-align: top;
}

.AddPost input[type='text'], .AddPost textarea {
  padding: 5px;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
}

.AddPost textarea {
  resize: vertical;
}

.AddPost-uploadFile {
  margin: 0 !important;
  width: auto !important;
}

.AddPost-uploadLabelName {
  display: inline-block;
  width: 120px;
  font-size: 16px;
}

.AddPost-uploadBtn {
  display: inline-block;
  padding: 4px 8px;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 12px;
}

.AddPost-uploadBtn:active {
  transform: translate(1px, -1px);
}

.AddPost-fileName {
  margin-left: 5px;
  font-size: 12px;
  align-self: center;
}

.AddPost-uploadFile input {
  display: none;
}

.AddPost-postBtn {
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 8px 12px !important;
  margin: 10px 0 0 120px;
  display: block;
}

.AddPost-postBtn:active {
  transform: translate(1px, -1px);
}