.Header {
  margin: 0 -15px;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  box-shadow: 0 -2px 5px 4px rgba(50, 50, 50, 0.25);
}

.Header-logo {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: bold;
}

.Header nav > a {
  padding: 5px;
  text-decoration: none;
  color: #000;
  font-style: italic;
}

.Header nav > a.active {
  text-decoration: underline;
}

.Header nav > a:hover, .Header-logoutBtn:hover {
  text-decoration: underline;
}

.Header-logoutBtn {
  margin-left: 5px;
  font-style: italic;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
}