.Post {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: flex;
  align-items: stretch;
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
}

.Post img {
  border: 1px solid #ddd;
  width: 70px;
  height: 70px;
  padding: 3px;
  margin: -3px 10px -3px -3px;
}

.Post h4, .Post p {
  margin: 0;
}

.Post > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Post h4 span {
  margin-right: 5px;
  font-weight: normal;
}

.Post-date {
  font-size: 14px;
  color: #333;
}

.Post-user {
  font-size: 16px;
}

.Post-title {
  margin-top: 8px !important;
  font-weight: 500 !important;
  font-size: 18px;
  flex-grow: 1;
}